body{
    font font-family: Arial, sans-serif;
    text-align: center;
    background-color: mediumpurple;
    text color: white;
}
#Eagle{      
      background-color: lightskyblue;
      color: white;
      padding: 10px;
      width: 100%;    
     border text-decoration-line: dotted;
     border-color: black;
       
}
#Alfred Lord Tennyson{
             background-color: mediumpurple;
             color: black;
             width: 100%;
}
#Poem{
    text-align: left;
  



}

}

}